* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #000000;
}

.bg-login {
  height: 100vh;
  background-color: #000000;
}

.CardW {
  width: 22rem;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px
      12px no-repeat,
    radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
  animation: l9 2s infinite linear;
}
@keyframes l9 {
  to {
    transform: rotate(1turn);
  }
}
